.videoWrap{
    position: relative;
}

.video{
    width: 100%;
    height: auto;
    position: relative;
}

.titleWrap{
    position: absolute;
    width: 100%;
    top: 30%;
    left: 10%;
    /* transform: translate(-50%,-50%); */
    max-width: 1280px;
}

.titleWrap h1{
    font-size: 65px;
    color: white;
    line-height: 80px;
    letter-spacing: -0.01em;
    white-space: pre-line;
    margin-bottom: 30px;
    font-family: 'GmarketSansBold';
}

.titleWrap span{
    font-family: 'AppleSDNeo-M';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.01em;
    white-space: pre-line;
    color: rgb(255, 255, 255);
}


@media (max-width: 600px) {
    .video{
        width: auto;
        height: 750px;
    }
    
    .titleWrap{
        top: 35%;
        left: 8%;
    }

    .titleWrap h1{
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .titleWrap span{
        font-size: 15px;
        line-height: 18px;
    }
}

@media (min-width:601px) and (max-width: 1024px) {
    .video{
        width: auto;
        height: 800px;
    }


    .titleWrap h1{
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 10px;
    }


    

} 