
@font-face {
  font-family: 'GmarketSansBold';
  src: url('/fonts/GmarketSansTTFBold.ttf') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('/fonts/GmarketSansTTFMedium.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AppleSDNeo-M';
  src: url('/fonts/AppleSDGothicNeoR.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}





#__next{
  margin: 0 auto;
}

* {
  font-family: 'GmarketSansMedium';
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'GmarketSansMedium';
}

body {
  font-family: 'GmarketSansMedium';
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  font-family: 'GmarketSansMedium';
  color: inherit;
  text-decoration: none;
}



@font-face {
  font-family: 'GmarketSansBold';
  src: url('/fonts/GmarketSansTTFBold.ttf') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('/fonts/GmarketSansTTFMedium.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}


.button{
  text-decoration: none;
  width: 235px;
  height: 60px;
  background: #fff;
  border-radius: 40px;
  color: black;
  font-weight: 500;
  font-size: 24px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -0.01em;
  margin: 45px 0px;
  position: relative;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  border: none;
  transition: all 0.5s ease 0s;
  font-family: 'GmarketSansBold';

}
.button:hover{
  color: #2b9cd8;
}

@media (max-width: 600px) {
  .button{
    width: 140px;
    height: 35px;
    font-size: 17px;
    line-height: 38px;
    
  }

}

@media (min-width:601px) and (max-width: 1024px) {
  .button{
    width: 200px;
    height: 50px;
    font-size: 20px;
    line-height: 53px;
    margin: 40px 0;
  }

}


